.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__filme,
.content-elenco,
.content-recommendations {
  display: flex;
  margin: 1% 20%;
}

.filme__img {
  margin: 20px;
}

.filme__content-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.filme__vote-average {
  font-size: 1.25rem;
  border-radius: 50%;
  border: 2px solid #28a745;
  padding: 10px;
  width: 55px;
}

.filme__genres {
  margin: 5% 0;
}

.filme__genres span {
  background-color: #ffc107;
  padding: 5px;
  margin: 0 10px 0 0;
  border-radius: 5px;
}

.filme__statistics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10% 0;
}

.content-elenco {
  background-color: var(--lm-text);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.elenco__header,
.recommendations__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 5%;
}

.elenco__header-button {
  background: transparent;
  border: none;
  color: var(--bg-content);
  cursor: pointer;
  font-size: 1.2rem;
}

.content-elenco__title,
.recommendations__title {
  color: var(--bg-content);
  padding: 10px;
  margin-left: 40px;
}

.content__actors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card__elenco,
.card__recommendations {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 10px;
  max-width: 150px;
  text-align: center;
}

.card__recommendations {
  background-color: #000;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  max-width: 200px;
  width: 100%;
}

.elenco__imagem,
.elenco__no--imagem {
  width: 150px;
  height: 225px;
}

.recommendations__image,
.recommendations__no--imagem {
  width: 100%;
  height: 225px;
}

.elenco__no--imagem,
.recommendations__no--imagem {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--bg-content);
  display: flex;
  justify-content: center;
}

.recommendations__no--imagem {
  color: var(--lm-text);
}

.elenco__no--imagem h4 {
  margin: 0;
}

.elenco__body {
  color: var(--bg-content);
  padding: 10px;
}


.content-recommendations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--lm-text);
}

.content__card-recommendations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.card-recommendations__body {
  color:  #f6f8ff;
}

.card__recommendations:hover {
  transform: scale(1.1);
}


@media (max-width:783px) {
  .content__filme {
    flex-wrap: wrap;
  }
}

@media (max-width: 539px) {
  .filme__img {
    width: auto;
  }
  .filme__img img {
    width: 100%;
  }
}
