.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__filme,
.content-elenco {
  display: flex;
  margin: 5% 20%;
}

.filme__img {
  margin: 20px;
}

.filme__content-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.filme__vote-average {
  font-size: 1.25rem;
  border-radius: 50%;
  border: 2px solid #28a745;
  padding: 10px;
  width: 55px;
}

.filme__genres {
  margin: 5% 0;
}

.filme__genres span {
  background-color: #ffc107;
  padding: 5px;
  margin: 0 10px 0 0;
  border-radius: 5px;
}

.filme__statistics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10% 0;
}

.content-elenco {
  background-color: var( --lm-text);
  display: flex;
  flex-wrap: wrap;
}

.content-elenco__title {
  color: var(--bg-content);
  padding: 10px;
  margin-left: 40px
}

.content__actors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card__elenco {
  margin: 10px;
}
.elenco__imagem {
  width: 150px;
  height: 225px;
}
