<section class="content">
  <div class="content__filme">
    <div class="filme__img">
      <img
        src="https://image.tmdb.org/t/p/w300{{ movie?.poster_path }}"
        alt=""
      />
    </div>
    <div>
      <div class="filme__content-title">
        <h1>{{ movie?.original_title }}</h1>
        <span class="filme__vote-average">{{ movie?.vote_average }}</span>
      </div>
      <div>
        <p>{{ movie?.overview }}</p>
      </div>
      <div class="filme__genres">
        <h4>Genres</h4>
        <span *ngFor="let m of movie?.genres">
          {{ m.name }}
        </span>
      </div>
      <div>
        <span>Director</span>
        <span></span>
      </div>
      <div class="filme__statistics">
        <div>
          <span>Release Date: {{ movie?.release_date | date }}</span>
        </div>
        <div>
          <span>Duration: {{ movie?.runtime | runtime }}</span>
        </div>
        <div>
          <span>Budget: {{ movie?.budget | currency }}</span>
        </div>
      </div>
    </div>
  </div>
  <section class="content-elenco">
    <div class="elenco__header">
      <h2 class="content-elenco__title">Actors</h2>
      <button class="elenco__header-button" (click)="showAll(1)">Show all</button>
    </div>
    <div class="content__actors">
      <div *ngFor="let actor of elencoParcial" class="card__elenco">
        <img
          *ngIf="actor?.profile_path"
          class="elenco__imagem"
          src="https://image.tmdb.org/t/p/w300{{ actor?.profile_path }}"
          alt=""
        />
        <div class="elenco__no--imagem" *ngIf="!actor?.profile_path">
          <h4>No Photo</h4>
        </div>
        <div class="elenco__body">
          <h4>{{ actor?.name }}</h4>
          <h3>{{actor?.character}}</h3>
        </div>
      </div>
    </div>
  </section>
  <section class="content-recommendations">
    <div class="recommendations__header">
      <h2 class="recommendations__title">Recommendatios</h2>
      <button class="elenco__header-button" (click)="showAll(2)">Show all</button>
    </div>
    <div  class="content__card-recommendations">
      <div [routerLink]="['/filme-detalhe', recommend.id]" class="card__recommendations" *ngFor="let recommend of recommendationsParcial">
        <img  *ngIf="recommend?.poster_path" class="recommendations__image" src="https://image.tmdb.org/t/p/w300{{ recommend?.poster_path }}" alt="">
        <div class="recommendations__no--imagem" *ngIf="!recommend?.poster_path">
          <h4>No Photo</h4>
        </div>
        <div class="card-recommendations__body">
          <h4>{{recommend?.original_title}}</h4>
        </div>
      </div>
    </div>
  </section>
</section>
